/* Custom CSS for portfolio website */
/* Globals */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Base structure */
html,
body {
    height: 100%;
    background-color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

header {
    background-image: url("../img/lights.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}
